.styled-checkbox {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
  }
.v-main__wrap{
    display: flex;
    align-items: center;
} 